<h2 class="col-sm-10">Welcome!</h2>
<div class="form-group">
  <label class="control-label col-sm-2">Username:</label>
  <div class="col-sm-10">
    <input type="text" class="form-control" placeholder="Enter your username" (blur)="checkUserValidate()" [(ngModel)]="inputAcc"
    />
    <div *ngIf="showAlert">
      <font color="red">Username must be at least 6 characters long.</font>
    </div>
  </div>
</div>

<div class="form-group">
  <label class="control-label col-sm-2">Password:</label>
  <div class="col-sm-10">
    <input type="password" class="form-control" placeholder="Enter your password" (blur)="checkPassValidate()" [(ngModel)]="inputPass"
    />
    <div *ngIf="showAlert2">
      <font color="red">Password must be at least 6 characters long.</font>
    </div>
  </div>
</div>
<div class="col-sm-10">
  <button type="button" class="btn btn-primary" (click)="checkLogin()">Login</button>
</div>