<h2>List hotkeys</h2>
<!-- <button (click)="onAdd(input.value)">Add</button> -->
<button (click)="onAdd()">Add</button>
<ul class="heroes">
  <li *ngFor="let hero of heroes" [class.selected]="hero === selectedHero" (click)="onSelect(hero)">
    <input [(ngModel)]="hero.id">
    <input [(ngModel)]="hero.name">

  </li>
</ul>

<div *ngIf="selectedHero">

  <h2>{{ selectedHero.name }} Details</h2>
  <div>
    <span>id: </span>{{selectedHero.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="selectedHero.name" placeholder="name">
    </label>
  </div>
  <button (click)="onDelete()">Delete</button>
  <div>

  </div>
</div>